<!DOCTYPE html>
<html>
  <head>
      <title>HOW TO USE</title>

  </head>
<body>
<h4 class="header center blue-grey darken-4">How to use autobot</h4>

<ol>
    <li>Enter username and password.</li>
    <li>After successful login, the user can access his/her dashboard.</li>
    <li>View the "rule violation" notice in the messages section of the portal & also view a new message on the registered email id & SMS on the mobile number.</li>
    <li>The message will usually be for any updates or also due to violations. In case the user receives a rule violation notice, he/she is expected to pay fine online on the payment portal.</li>
</ol>



</body>
</html>