<!DOCTYPE html>
<html>
  <head>
    <title>Home | RTO</title>
      {% load staticfiles %}
      {%include 'header.html'%}
      <link rel="stylesheet" href="{% static 'css/style.css'%}">


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
        overflow: hidden;
        background-color: #333;
        }

        .topnav a {
        float: left;
         color: #cfd8dc;
         text-align: center;
        padding: 14px 16px;
         text-decoration: none;
        font-size: 17px;
        }

        .topnav a:hover {
        background-color: #ddd;
        color: black;
        }

        .topnav a.active {
        background-color: #ffc107;
        color: white;
        }
        </style>



  </head>
<body>

    <div class="topnav">
        <a style="float:right" href="admin/">ADMIN LOG IN</a>
        <a style="float:right" href="user-login/">USER LOG IN</a>
        <a style="float:right" href="#product">Product</a>
        <a style="float:right" href="#about">About</a>
  <a style="float:right" class="active" href="#home">Home</a>

</div>

<div style="padding-left:16px">
  <h4 class="header center teal-text text-lighten-2">National Register e-Services of Registered Vehicles</h4>
        <div class="row center">
          <h5 class="header col s12 light">No of Digitized Vehicles<br>216,582,595</h5>
        </div>
</div>


    <div class="card-panel blue-grey lighten-4"><h5><i>National Register:</i></h5>


            Data from the different <b style="color:#121121;">State Registers</b> situated at State Data Centers flow to the National Register. Selected information has been envisaged to be captured at the national level. The National Register will act as a central repository of all crucial data / information. This will also enable users to avail the service on "Anywhere Service" basis. National Register will provide information to DoRTH, RTO/DTO/MLO/SDM, inter–state check post, police department and other G2C services.
                  <ul>
                      <b style="color:#121121;">Set of Services being offered at present –</b>
                      <ul>
                          <li>
                            <b>Vehicle Search –</b>  It provides a nationwide search over the digitized data of Registered Vehicles. Stake holders may view the details of Registered Vehicles online based on the certain parameters viz.
                              <ul class ="browser-default">
                                  <li>Registration No either full or partial</li>
                                  <li>Chassis No</li>
                                  <li>Engine No</li>
                                  <li>Body Type</li>
                                  <li>Fuel Type</li>
                                  <li>Color</li>
                                  <li>Name of Manufacturer</li>
                                  <li>Make/Model etc.</li>
                              </ul>
                          </li>
                          <li>

                              <b>Various Reports on Registered Vehicles</b>
                              <ul class ="browser-default">
                                  <li>Year and Month wise no of registration in different states</li>
                                  <li>Year and Month wise no of registration in different RTO/DTO/MLO/SDM in a state</li>
                                  <li>Vehicle Class wise no of registration  in different RTO/DTO/MLO/SDM in a state</li>
                              </ul>
                          </li>
                      </ul>
                  </ul>
              </li>

        <h5><i>State Register:</i></h5>

            The information captured at the RTO level may entirely go to state data base, so as to avoid any dependency of introducing new services on the level of information available at the state level. The State Register will act as a repository at the state level providing information to <b>State Transport Department, RTO/DTO/MLO/SDM, Automobile Dealers, Police Department and other G2C Services</b>.

        <h5><i>Computerization:</i></h5>

            Computerization of all the processes in all the RTO/DTO/MLO/SDM is a pre–requisite for the success of State &amp; National Register. Computerization of all the process at RTO/DTO/MLO/SDM level through <b style="color:#121121;">VAHAN Software</b> has facilitated in creation of a complete database of the vehicle's / citizen's information in the RTO/DTO/MLO/SDM. Almost 96% of the RTO/DTO/MLO/SDM have been computerized and the rest are being compuetrized at a fast pace.

        <h5><i>Connectivity:</i></h5>

            RTO needs to be connected with the respective State Data Centre for the flow of data from RTO to State Register. For this a suitable and secured network infrastructure is in place which is having adequate bandwidth to support data transfer between individual RTO/DTO/MLO/SDM and State Register / National Register.

        <h5><i>VAHAN -</i></h5>

            The Integrated Solution for Vehicle Registration</span><br>
                  VAHAN is a highly flexible and comprehensive system that takes care of all the burdensome activities of Vehicle Registration, leaving the Transport Department to deal with more important business issues. The software enables the processes at RTO/DTO/MLO/SDM involving Vehicle Registration, Fitness, Taxes, Permits &amp; Enforcement to get computerized.


            The State Transport Department is governed by both Central Motor Vehicle Regulation (CMVR) and state specific Motor Vehicle Regulation (State MVR). Consequently, Vahan was conceptualized as a product that would capture the functionalities as mandated by CMVR as well as state MVRs

    </div>


    <div class="card-panel blue-grey lighten-4"><h5>The Ministry has decided to offer the services to different stake holders like Banks, Insurance Companies etc on payment basis. The following procedure needs to be completed to enroll and use this service.</h5>

     <ol>
  <li>Applicant may fill the User ID creation form. <a href="/nrservices/forms/paidnr_access_application.pdf" target="_blank">Click here to download the prescribed form.</a></li>
  <br>
  <li>The duly filled application form needs to be submitted by the Head Office on official letter head to the Joint Secretary (T), Transport Bhawan, 1 Parliament Street, New Delhi -110003.
  </li>
  <br>
  <li>After verification and approval of the submitted application, user-id will be created and information will be communicated to the applicant.
  </li>
  <br>
  <li>
  The user id and password need to be changed immediately by the user organization.</li>
  <br>
  <li>Only one user id/ password will be issued to an organization. The organization may, in turn, create sub-user ids and passwords, if required, for its constituents/branches etc.</li>
  <br>
  <li>The records on NR may be accessed by the user organization after making advance payment of user charges as per the NR access policy. <a href="/nrservices/forms/paidnr_access_policy.pdf" target="_blank">Click here to download the NR access policy.</a></li>

</ol>

    </div>

</div>
{%include 'footer.html'%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'js/script.js'%}"></script>
</body>
</html>
