<!DOCTYPE html>
<html>
  <head>
    <title>Home | RTO</title>
      {% load staticfiles %}
      {%include 'header.html'%}
      <link rel="stylesheet" href="{% static 'css/style.css'%}">
  </head>
<body>

{%include 'navbar.html'%}
<div class="container" id="containerHome">
 Landing Page...

</div>
{%include 'footer.html'%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'js/script.js'%}"></script>
</body>
</html>
