<nav class="blue-grey darken-4" role="navigation" id="menu">
   <!-- Navigation Bar Begin -->
   <div class="nav-wrapper">
      <a id="logo-container" href="#" class="brand-logo"><i class="fa fa-joomla"></i> Navbar</a>
      <!-- List Item Begin -->
      <ul class="right hide-on-med-and-down">
         <li><a href="#home" class="hvr-float-shadow">Home</a></li>
         <li><a href="#about" class="hvr-float-shadow">About</a></li>
         <li><a href="#product" class="hvr-float-shadow">Product</a></li>
         <li><a href="#contact" class="hvr-float-shadow">Contact</a></li>
         <li><a class="waves-effect amber lighten-3 btn">Sign in</a></li>
      </ul>
      <!-- Navigation Bar End -->
      <!-- Mobile Nav Bar Begin -->
      <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
         <li><a href="#home">Home</a></li>
         <li><a href="#about">About</a></li>
         <li><a href="#product">Product</a></li>
         <li><a href="#contact">Contact</a></li>
         <li><a class="waves-effect grey darken-3 btn">Sign in</a></li>
      </ul>
      <!-- Mobile Nav Bar End -->
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>                           </div>
</nav>
