<!DOCTYPE html>
<html>
<head>
    <title>User Login | AutoNoticeBot</title>

    {% load staticfiles %}
    {%include "header.html"%}
    <link rel="stylesheet" href="{% static 'css/login.css'%}" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>



<body>
{%include "navbar.html"%}
<div class="section"></div>
<main>
    <div class="container">
        <div class="row" style="text-align: center">
            <div class="col m4 s12 offset-m4">
                <h5 class="blue-grey-text text-darken-4">User Login</h5>
                <h5 class="blue-grey-text text-darken-4">{{message}}</h5>
                <div class="section"></div>
                <div class="z-depth-1 blue-grey lighten-5 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                <form class="col s12" method="post" action="/user-validate/">
                    {% csrf_token %}
                        <div class='row'>
                            <div class='input-field col s12'>
                                <input class='validate' type='text' name='license' id='license' />
                                <label for='license'>Enter your License Number</label>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='input-field col s12'>
                                <input class='validate' type='text' name='user-cell' id='user-cell' />
                                <label for='user-cell'>Enter your Mobile Number</label>
                            </div>
                        </div>

                        <div class='row'>
                            <label style='float: left;'>
                                <a class='blue-grey-text modal-trigger' href='#newreg'><b>Not registered? Register here!</b></a>
                            </label>
                        </div>

                        <br>

                        <div class='row'>
                            <a class="waves-effect waves-light btn modal-trigger blue-grey darken-4" href="#otp">Request OTP</a>
                        </div>

                        <!-- Request OTP Structure -->
                        <div id="otp" class="modal" style="z-index: 5">
                            <div class="modal-content">
                                <h4>Enter your OTP</h4>
                                <div class="input-field col m8 s12">
                                    <i class="material-icons prefix">lock</i>
                                    <input id="user-pass" name="user-pass" type="password" class="validate">
                                    <label for="otp">OTP</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a name='new_otp' class="blue-grey-text" href="/user-login">Request New OTP</a>
                                <button type='submit' name='login' id='login' class='col s12 btn waves-effect blue-grey darken-4'>Login</button>
                            </div>
                        </div>

                         <!-- New User Register -->
                        <div id="newreg" class="modal">
                            <div class="modal-content row">
                                <h4>Register Here</h4>
                                <div class="input-field col m12 s12">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <input id="newuserid" name="newuserid" type="text" class="validate">
                                    <label for="newuserid">Enter Your Mobile Number</label>
                                </div>
                                <div class="input-field col m12 s12">
                                    <i class="material-icons prefix">credit_card</i>
                                    <input id="newuserlic" name="newuserlic" type="text" class="validate">
                                    <label for="newuserlic">Enter Your Mobile Number</label>
                                </div>
                                <div class="input-field col m12 s12">
                                    <i class="material-icons prefix">call</i>
                                    <input id="userusertel" name="newusertel" type="text" class="validate">
                                    <label for="newusertel">Enter Your Mobile Number</label>
                                </div>
                                <div class="modal-footer col m12 s12">
                                <a name='new_otp' class="blue-grey-text" href="#newreg">Request New OTP</a>
                                <div class='row'>
                                    <a class="waves-effect waves-light btn modal-trigger blue-grey darken-4" href="#otp">Request OTP</a>
                                </div>
                            </div>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</main>

<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>

{%include 'footer.html'%}

</body>
</html>