<!DOCTYPE html>
<html>
  <head>
    <title>User Login | AutoNoticeBot</title>

    {% load staticfiles %}
    {%include "header.html"%}
    <link rel="stylesheet" href="{% static 'css/login.css'%}" type="text/css" />
  </head>



<body>
{%include "navbar.html"%}
  <div class="section"></div>
  <main>
    <center>
      <h5 class="blue-grey-text text-darken-4">User Login</h5>
      <!--<div class="section"></div>-->

      <h5 class="blue-grey-text text-darken-4">{{message}}</h5>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 blue-grey lighten-5 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" method="post" action="/user-validate/">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>
            {% csrf_token %}
            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='text' name='user-id' id='user-id' />
                <label for='user-id'>Enter your Aadhaar ID</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='text' name='user-cred' id='user-cred' />
                <label for='user-cred'>Enter your registered Mobile No./Email ID</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='password' name='user-pass' id='user-pass' />
                <label for='user-pass'>Enter your Password</label>
              </div>
              <!--<label style='float: right;'>
								<a class='blue-grey-text' href='../forgot-password'><b>Forgot Password?</b></a>
              </label>
              <label style='float: left;'>
								<a class='blue-grey-text' href='../register-user'><b>New User? Register Here!</b></a>
              </label>-->
            </div>

            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect blue-grey darken-4'>Request OTP</button>
              </div>
            </center>
          </form>
        </div>
      </div>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

{%include 'footer.html'%}

</body>
</html>
