<!DOCTYPE html>
<html>
<head>
    <title>User Login | AutoNoticeBot</title>

    {% load staticfiles %}
    {%include "header.html"%}
    <link rel="stylesheet" href="{% static 'css/login.css'%}" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>



<body>
{%include "navbar.html"%}
<div class="section"></div>
<main>
        <h5 class="blue-grey-text text-darken-4">User Login</h5>
        <!--<div class="section"></div>-->

        <h5 class="blue-grey-text text-darken-4">{{message}}</h5>
        <div class="section"></div>

        <div class="container col m4 s12">
            <div class="z-depth-1 blue-grey lighten-5 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <form class="col s12" method="post" action="/user-validate/">
                    <div class='row'>
                        <div class='col s12'>
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name='user-id' id='user-id' />
                            <label for='user-id'>Enter your Aadhaar ID</label>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name='user-mail' id='user-mail' />
                            <label for='user-mail'>Enter your Email</label>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name='user-cell' id='user-cell' />
                            <label for='user-cell'>Enter your Mobile Number</label>
                        </div>
                    </div>

                    <div class='row'>
                        <!--<div class='input-field col s12'>
                          <input class='validate' type='password' name='user-pass' id='user-pass' />
                          <label for='user-pass'>Enter your Password</label>
                        </div>-->
                        <!--<label style='float: right;'>
                                          <a class='blue-grey-text' href='../forgot-password'><b>Forgot Password?</b></a>
                        </label>
                        <label style='float: left;'>
                                          <a class='blue-grey-text' href='../register-user'><b>New User? Register Here!</b></a>
                        </label>-->
                    </div>

                    <br />
                        <div class='row'>
                            <a class="waves-effect waves-light btn modal-trigger" href="#otp">Request OTP</a>
                        </div>

                        <!-- OTP Structure -->
                        <div id="otp" class="modal">
                            <div class="modal-content">
                                <h4>Enter your OTP</h4>
                                <div class="input-field col m8 s12">
                                    <i class="material-icons prefix">lock</i>
                                    <input id="user-pass" name="user-pass" type="password" class="validate">
                                    <label for="otp">OTP</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a name='new_otp' href="/user-login">Request New OTP</a>
                                <button type='submit' name='login' id='login' class='col s12 btn waves-effect'>Login</button>
                            </div>
                        </div>
                </form>
            </div>
            <p style="text-align: center;">OR</p>
            <div class='row'>
                <div class='input-field col s12'>
                    <input class='validate' type='text' name='user-cell' id='user-cell' />
                    <label for='user-cell'>Enter your Mobile Number</label>
                </div>
            </div>

            <div class='row'>
                <!--<div class='input-field col s12'>
                  <input class='validate' type='password' name='user-pass' id='user-pass' />
                  <label for='user-pass'>Enter your Password</label>
                </div>-->
                <!--<label style='float: right;'>
                                  <a class='blue-grey-text' href='../forgot-password'><b>Forgot Password?</b></a>
                </label>
                <label style='float: left;'>
                                  <a class='blue-grey-text' href='../register-user'><b>New User? Register Here!</b></a>
                </label>-->
            </div>

            <br />
                <div class='row'>
                    <a class="waves-effect waves-light btn modal-trigger" href="#otp">Request OTP</a>
                </div>

                <!-- OTP Structure -->
                <div id="otp" class="modal">
                    <div class="modal-content">
                        <h4>Enter your OTP</h4>
                        <div class="input-field col m8 s12">
                            <i class="material-icons prefix">lock</i>
                            <input id="user-pass" name="user-pass" type="password" class="validate">
                            <label for="otp">OTP</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a name='new_otp' href="/user-login">Request New OTP</a>
                        <button type='submit' name='login' id='login' class='col s12 btn waves-effect'>Login</button>
                    </div>
                </div>


            </form>
        </div>
    </center>

    <div class="section"></div>
    <div class="section"></div>
</main>

<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>

{%include 'footer.html'%}

</body>
</html>