<!DOCTYPE html>
<html>
  <head>
    <title>Admin Login | RTO</title>
    {% load staticfiles %}
    {%include 'header.html'%}
    <link rel="stylesheet" href="{% static 'css/login.css'%}" type="text/css" />
  </head>
<body>

{%include 'navbar.html'%}
<div class="container" id="containerLogin">
  <div class="container-inner" style="text-align: center;" id="loginDiv">
    <h2>RTO Admin Login Portal</h2>
    <h3>Login Here:</h3>

  </div>
</div>
{% include 'footer.html' %}
<script type="text/javascript" src="{% static 'js/script.js'%}"></script>

</body>
</html>
