<!DOCTYPE html>
<html>
  <head>
    <title>Admin Login | RTO</title>
    {% load staticfiles %}
    {%include 'header.html'%}
    <link rel="stylesheet" href="{% static 'css/login.css'%}" type="text/css" />
      <link rel="stylesheet" href="{% static 'css/ocr_form.css' %}" />
  </head>
<body>

{%include 'navbar.html'%}
<div class="container" id="containerLogin">
  <div class="" style="text-align: center;" id="loginDiv">
      <div class="row" id="crimeDiv">
        <div class="col m3 s12">
            <div class="card">
                <div class="card-content" id="adminDetails">
                    <h5 class="blue-grey-text text-darken-4">WelCome<br><span class="adminName blue-grey-text">{{admin.adminName}}</span><br><span class="adminUid amber-text text-lighten-2">@{{admin.adminUid}}</span></h5>
                    <h5 class="red-text"><a href="/admin-logout"> LogOut </a></h5>
                </div>
            </div>
        </div>
        <div class="col m9 s12">
            <div class="row">
                <div class="col m12 s12">
                    <div class="card card-image">
                         <h5>Search by Image</h5>
                         <div class="card-content">
                               <form action="/number-validate/" method="post">
                                    <div class="file-field input-field">
                                        {% csrf_token %}

                                        <div class="btn waves-effect blue-grey">
                                            <i class="material-icons">image</i>
                                            <input type="file" name="image-input" data-js-image-input>
                                        </div>

                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" name="file-input">

                                            <div class="image-result-container row">
                                              <div class="image-container col m6 s12" data-js-image-container><img/></div>
                                              <div class="result-container result-default col m6 s12" data-js-result-container></div>
                                            </div>
                                             <div class="button-container">
                                                 <button class="btn btn-default extract" type="button" data-js-go-button>Extract Number Plate In Text</button>
                                             </div>
                                        </div>
                                    </div>
                                   <div class="row">
                                      {% csrf_token %}
                                       <br>
                                       <div class="col m12 s12">
                                            <div class="blue-grey-text">OR</div>
                                        </div>
                                       <h5>Search by Vehicle Number</h5>
                                    <div class="input-field col s12 m12" id="text-search">
                                      <i class="material-icons prefix">directions_car</i>
                                      <input disabled id="icon_prefix" type="text" class="validate" name="text-input">
                                      <label for="icon_prefix">Vehical Number</label>
                                    </div>


                                  </div>
                                   <div class='row'>
                                    <button type='submit' name='btn_login' class='col m4 s12 btn btn-large waves-effect blue-grey darken-4' id="continue">Continue</button>
                                  </div>
                               </form>
                         </div>
                    </div>
                </div>
            </div>
            <div class="card card-image">
             <h5>Upload Evidence</h5>
             <div class="card-content">
                 <div class="file-field input-field">
                    <div class="btn waves-effect blue-grey">
                        <i class="material-icons">image</i>
                         <input type="file" id="image-input" data-js-image-input-upload />
                     </div>
                     <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                 <div class="image-result-container">
                  <div class="image-container" data-js-image-container-upload><img/></div>
              </div>
                 <br />
                 <div class="button-container">
                     <button class="btn btn-default" type="button">Upload</button>
                 </div>

            </div>

                          </div>
                        </div>
             </div>

            </div>
        </div>
      </div>




  </div>
</div>
{% include 'footer.html' %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/ocr_form.js' %}"></script>
  <!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="{% static 'js/script.js'%}"></script>

</body>
</html>
